/* Estilos globais */
* {
    padding: 0;
    margin: 0;
} 

body {
    overflow-x: hidden;
    font-family: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* Estilos do cabeçalho */
.neg{
    font-weight: bold
    }

.classe{
    display: flex; 
    align-items: center;
    justify-content: space-between;

}

.larg{
    padding: 0px 40px;
    background-color: #404eed;
    height: 67px;
}
.menu{
    display: flex;
}
.itemenu{
    margin-left: 10px;
    color:#fff;
}
.esp{
    padding: 20px ;
}
.corent{
    color:white;
}
.cb{
    color:white;
}
.but1{
    color:white;
}
element.style {
}
.mobileAppButton-J8RITc {
    margin-right: 16px;
}
.button-1I7cbj {
    white-space: nowrap;
}
.buttonSmall-1FIG7u {
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
}
.buttonWhite-1M-wED {
    background-color: var(--white);
    color: var(--not-quite-black);
}
.button-ZGMevK {
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    transition-property: background-color,color,box-shadow,-webkit-box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
a {
    text-decoration: none;
}

.menu .itemenu .but1:hover {
    text-decoration: underline;
}
/*  Estilos do conteúdo */

#content {
    display: flex;
    width: 100vw;
    height: 90vh;
    background-color: #404eed;
    overflow-x: hidden;
}

#content .image-one {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: auto;
    width: auto;
    max-width: none;
    margin-left: -1030px;
}

#content .area-texts {
    margin: 0 auto;
    width: 625px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

#content .area-texts h1 {
    font-size: 62px;
    font-weight: 800;
    text-transform: uppercase;
}

#content .area-texts p {
    margin-top: 40px;
    font-size: clamp(16px,2vw,20px);
    line-height: 1.625;
}

#content .area-texts .area-buttons {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

#content .area-texts .area-buttons button {
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
}


#content .area-texts .area-buttons button.button-download {
    background: #fff;
    display: flex;
}

#content .area-texts .area-buttons button.button-download:hover {
    color: #404eed;
    transition: 0.3s;
}

#content .area-texts .area-buttons button.button-download span {
    margin-left: 5px;;
}

#content .area-texts .area-buttons button.button-open-discord {
    background-color: #23272a;
    color: #fff;
}

#content .area-texts .area-buttons button.button-open-discord:hover {
    background-color: #36393f;
    transition: 0.3s;
}

#content .image-two {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 370px;
}