/* Estilos globais */
* {
    padding: 0;
    margin: 0;
} 

body {
    overflow-x: hidden;
    font-family: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* Estilos do cabeçalho */
.neg{
    font-weight: bold
}

.classe{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.larg{
    padding: 0px 40px;
    background-color: #404eed;
}

.menu{
    display: flex;
}

.itemenu{
    margin-left: 10px;
    color:#fff;
}

.esp{
    padding: 20px ;
}

.corent{
    color:white;
}

.cb{
    color:white;
}

.but1{
    color:white;
}

.mobileAppButton-J8RITc {
    margin-right: 16px;
}

.button-1I7cbj {
    white-space: nowrap;
}

.buttonSmall-1FIG7u {
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
}

.buttonWhite-1M-wED {
    background-color: white;
    color: var(--not-quite-black);
}

.button-ZGMevK {
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    transition-property: background-color,color,box-shadow,-webkit-box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

a {
    text-decoration: none;
}

.menu .itemenu .but1:hover {
    text-decoration: underline;
}

.icon-burguer{
    display: none !important;
}

/*  Estilos do conteúdo */

#content {
    display: flex;
    width: 100vw;
    height: 91.3vh;
    background-color: #404eed;
    overflow-x: hidden;
    overflow-y: hidden;
}

#content .image-one {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: auto;
    width: auto;
    max-width: none;
    margin-left: -1030px;
}

#content .area-texts {
    margin: 0 auto;
    width: 625px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

#content .area-texts h1 {
    font-size: 62px;
    font-weight: 800;
    text-transform: uppercase;
}

#content .area-texts p {
    margin-top: 40px;
    font-size: clamp(16px,2vw,20px);
    line-height: 1.625;
}

#content .area-texts .area-buttons {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

#content .area-texts .area-buttons button {
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
}

#content .area-texts .area-buttons button.button-download {
    background: #fff;
    display: flex;
}

#content .area-texts .area-buttons button.button-download:hover {
    color: #404eed;
    transition: 0.3s;
}

#content .area-texts .area-buttons button.button-download span {
    margin-left: 5px;;
}

#content .area-texts .area-buttons button.button-open-discord {
    background-color: #23272a;
    color: #fff;
}

#content .area-texts .area-buttons button.button-open-discord:hover {
    background-color: #36393f;
    transition: 0.3s;
}

#content .image-two {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 370px;
}


@media (max-width: 1000px) {
    .classe {
        width: 97vw;
    }
    .cb svg {
        width: 300px;
        height: 100px;
    }

    .icon-burguer svg {
        width: 100px;
        height: 70px;
    }

    .button-ZGMevK {
        padding: 30px 50px;
        font-size: 25px;
    }

    #content {
        height: 100vh;
        padding-left: 50px;
    }

    .space-header-buttons {
        display: flex;
        align-items: center;
    }

    .icon-burguer {
        display: block !important;
        cursor: pointer;
    }

    #content .image-two, #content .image-one, .menu {
       display: none;
    }

    #content .area-texts .area-buttons {
        flex-direction: column;
    }

    #content .area-texts .area-buttons button.button-open-discord {
        margin-top: 40px;
        width: 90%;
        font-size: 40px;
        display: flex;
        align-items: center;
    }

    #content .area-texts .area-buttons button {
        padding: 30px 50px;
    }

    #content .area-texts .area-buttons button.button-download {
        width: 80%;
        font-size: 40px; 
    }

    #content .area-texts .area-buttons button.button-download svg{
        width: 60px;
        height: 40px;
    }

    #content .area-texts {
        text-align: left;
        align-items: flex-start;
        margin-left: 25px;
    }

    #content .area-texts {
        width: 100%;
    }

    #content .area-texts h1 {
        font-size: 75px;
    }

    #content .area-texts p {
        font-size: 36px;
        margin-left: 5px;
    }

    #content .area-texts .area-buttons button {
        border-radius: 40px;
    }
}

#telaLogin {
    display: none;
}

#telaLogin {
    width: 100vw;
    height: 100vh;
    background-color: #404eed;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#telaLogin .content-login {
    border: 1px solid #FFF;
    border-radius: 8px;
    padding: 40px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#telaLogin .title-login {
    margin-bottom: 15px;
}

#telaLogin .field-form-login {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#telaLogin .field-form-login input {
    border: none;
    outline: none;
    padding: 5px 20px;
    margin-top: 5px;
}

#telaLogin .button-login {
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-color: #FFF;
    border-radius: 12px;
    color: #404eed;
    margin-top: 40px;
    padding: 5px 20px;
    cursor: pointer;
}

#telaLogin .button-login:hover {
    text-decoration: underline;
}

#telaBusca {
    display: none;
    background-image: url("https://www.cheapshark.com/img/logo_image.png?v=1.0");
    background-repeat: no-repeat;
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
}

.search-units {
    align-items: flex-start;
    justify-content: space-around;
    display: flex;
}

#list-units {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
}

#list-units li {
    list-style-type: none;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid black;
}

#telaBusca h1 {
    padding-left: 40px;
} 

#telaBusca input {
    width: 300px;
}

#telaBusca p {
    color: #0000;
}

